[submodule "openeducat/openeducat_erp"]
	path = openeducat/openeducat_erp
	url = git@github.com:openeducat/openeducat_erp.git
	branch = 12.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 12.0

[submodule "rinaz/Odoo"]
	path = rinaz/Odoo
	url = git@github.com:rinaz/Odoo.git
	branch = master

[submodule "paidykumar/o3modules"]
	path = paidykumar/o3modules
	url = git@github.com:paidykumar/o3modules.git
	branch = master
